@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap');

:root{
  --main-color:#d3ad7f;
  --black:#13131a;
  --bg:#010103;
  --border:.1rem solid rgba(255,255,255,.3);
}

*{
  font-family: 'Roboto',sans-serif;
  margin: 0;padding: 0;
  box-sizing: border-box;
  outline:none;border:none ;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}



html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius:5rem;
  
}

body{
  background: var(--bg);

}

section{
  padding: 2rem 7%;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  border-radius: 2rem;

}

.btn:hover{
  letter-spacing: .2rem;
}


.header{
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;

}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.6rem;
  color: #fff;

}

.header .navbar a:hover{
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom:.5rem ;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;

}

.header .icons div:hover{
  color: var(--main-color);
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:115%;right: 1%;
  background: #fff;
  width: 40rem;height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  
}

.header .search-form.active{
  transform: scaleY(1);
}

.header .search-form input{
  height: 100%;width: 100%;
  font-size: 1.6rem;
  color:var(--black);
  padding:1rem;
  text-transform: none;
 
}

.header .search-form label{
   cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover{
  color: var(--main-color);
} 


.header .cart-items-container{
  position: absolute;
  top: 100%; right: 0;
  height:calc(100hv-9.5rem);
  width: 35rem;
  background:#fff;
  padding: 0 1.5rem;
  border-radius: 10px;
  transform: scaleY(0);
}

.header .cart-items-container.active{
  transform: scaleY(1);
}

.header .cart-items-container .cart-item{
  position: relative;
  margin: 2rem 0 ;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.header .cart-items-container .cart-item .fa-times{
  position: absolute;
  top: 1rem; right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);

}

.header .cart-items-container .cart-item .fa-times:hover{
  color:var(--main-color);
}

.header .cart-items-container .cart-item img{
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
  font-size: 2rem;
  color: var(--black);
  padding-bottom: .5rem;

}

.header .cart-items-container .cart-item .content .price{
  font-size: 1.5rem;
  color: var(--main-color);

}

.header .cart-items-container .btn{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


@media (max-width:991px){
  html{
    font-size: 55%;
  }

  .header{
    padding:1.5rem 2rem;
  }

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 100%;right: 0;
    background: #fff;
    background: 30rem;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active{
    right:0;
  }
  
  .header .navbar a{
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }

}


.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:url(../cocoa_images/IMG_2974.JPG),no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 5.4rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}
.heading{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  padding-top: 2rem;
  font-size: 4rem;
}

.heading span{
  color: var(--main-color);
  text-transform: uppercase;
}

.about .row{
 display: flex;
 align-items:center;
 background: var(--black);
 flex-wrap: wrap;
}

.about .row .image{
  flex: 1 1 45rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  flex: 1 1 37rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.about .row .content h3{
  font-size:2rem;
  color: #fff;
}

.about .row .content p{
  font-size:1.3rem;
  color:#fff;
  padding:1rem 0;
  line-height: 1.8;
}


.menu .box-container .box img{
  width: 100px;
  height: 95px;
  margin: 3px;
  padding: 2px;
  border: 5px;
  border-radius: 50%;
  object-fit: cover; 
  
}

.menu .box-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:1.5rem;
}

.menu .box-container .box{
 padding: 2rem;
 text-align: center;
 border: var(--border);
}

.menu .box-container .box h3{
  color:var(--main-color);
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.8rem 0;
 }

.menu .box-container .box .price{
  color:#fff;
  font-size: 1.6rem;
  padding: 1rem 0;
 }

.menu .box-container .box .price span{
  font-size: 1rem;
  text-decoration: line-through;
  padding-left: 5px;
 }

.menu .box-container .box:hover {
  background: #fff;
 }

.menu .box-container .box:hover *{
  color: var(--black);
 }


.products .box .image img{
  width: 100px;
  height: 95px;
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}

.products .box-container .box{
  text-align: center;
  border: var(--border);
  padding: 1rem ;
}

.products .box-container .box .icons a{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  border: var(--border);
  color: #fff;
  margin-bottom: 30px;
}

.products .box-container .box .icons a:hover{
  color:var(--main-color);
}

.products .box-container .box .content h3{
  color: #fff;
  font-size: 1.7rem;
  margin-top: 20px;
}
.products .box-container .box .price{
  color: #fff;
  font-size: 1.7rem;
}

.products .box-container .box .price span{
  color: #fff;
  font-size: 1rem;
  text-decoration: line-through;
  padding-left: 5px;
}

.products .box-container .box .content .stars{
  color: var(--main-color);
  padding: 1rem;
}

.products .box-container .box .content .stars i{
  color: var(--main-color);
  font-size: 1.5;
}

.products p{
  color: var(--main-color);
  text-align: center;
  margin-top: 35px;
  font-size: 1.3rem;
  text-transform: none;
}

.review .box-container .box .quote{
  width: 40px;
  height:40px;
  margin: 1px;
  padding: 1px;
  border: 5px;
  color: #d3ad7f;
}

.review .box-container .box .user{
  width: 100px;
  height:100px;
  margin: 3px;
  padding: 2px;
  border: 5px;
  border-radius: 50%;
  object-fit: cover;
}
.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
  gap: 1.4rem;
}
.review .box-container .box{
  border: var(--border);
  text-align: center;
  padding: 2rem 2rem;
}

 .review .box-container .box p{
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #ccc;
} 

.review .box-container .box h3{
  padding: 1rem 0;
  font-size: 1.8rem;
  color:#fff;
}

.review .box-container .box .stars i{
  font-size: 1rem;
  color:var(--main-color);
}



.contact form .InputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  background: var(--black);
  border: var(--border);

}
.contact form .InputBox span{
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}
.contact form .InputBox input{
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.contact form .InputBox textarea{
  height: 15rem;
  width: 100%;
  resize: none;
  background: none;
  padding: 2rem;
  font-size: 2rem;
  color: #fff;
  text-transform: none;

}
.Blogs .box-container .box .image{
  height:25rem;
  overflow: hidden;
  width: 100%;
}

.Blogs .box-container .box .image img{
  height:100%;
  object-fit: cover;
  width: 100%;
}

.Blogs .box-container .box:hover .image img{
 transform: scale(1.2);
}

.Blogs .box-container .box .content{
  padding: 2rem;
 }

.Blogs .box-container .box .content .title{
  font-size: 2.2rem;
  line-height: 1;
  color: #fff;
 }

.Blogs .box-container .box .content .title:hover{
  color: var(--main-color);
 }

.Blogs .box-container .box .content span{
  color:var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 1.2rem;
 }

.Blogs .box-container .box .content p{
  color: #ccc;
  font-size: 1.2rem;
  line-height: 1.3;
  padding-top: 1rem;
  text-transform: none;

}


.Blogs .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
  gap: 1.5rem;
}

.Blogs .box-container .box{
  border: var(--border);

}


.footer{
  background: black;
  text-align: center;
}

.share{
  padding:1rem 1rem;
}

.share a{
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: .3rem;
  border-radius: 50%;
}

.share a:hover{
  background-color: var(--main-color);
}

.links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem,0;
  gap: 1rem;
}

.links a{
  padding: 0.7rem 1rem;
  color: #fff;
  border: var(--border);
  font-size: 1.3rem;
}

.links a:hover{
  background: var(--main-color);

}

.credit{
  font-size: 1.5rem;
  color:#fff;
  font-weight: lighter;
  padding: 1.5rem;

}
.credit span{
  color: var(--main-color);
}

